<div header id="header"></div>
<div id="scroll">
    <div banner banner-data="bannerData">轮播图</div>
    <nav id="nav">
        <a ng-click="jump('天天特价')">
            <img src="public/images/ico_05.png"/>
            <span>天天特价</span>
        </a>
        <a ng-click="jump('肉蛋时蔬')">
            <img src="public/images/ico_03.png"/>
            <span>肉蛋时蔬</span>
        </a>
        <a href="#">
            <img src="public/images/ico_04.png"/>
            <span>我的订单</span>
        </a>
        <a href="#">
            <img src="public/images/ico_06.png"/>
            <span>积分商城</span>
        </a>
    </nav>
    <div id="ad">
        <a  ng-click="jump('热销榜')"><img src="public/images/img_01.jpg"/></a>
    </div>
    <div class="item">
        <div>
            <a href="#"><img src="public/images/img_02.jpg"/></a>
        </div>
        <div class="coloum">
            <a href="#"><img src="public/images/img_03.jpg"/></a>
            <a href="#"><img src="public/images/img_04.jpg"/></a>
        </div>
    </div>
    <div class="item">
        <div class="coloum">
            <a href="#"><img src="public/images/img_05.jpg"/></a>
            <a href="#"><img src="public/images/img_06.jpg"/></a>
        </div>
        <div>
            <a href="#"><img src="public/images/img_07.jpg"/></a>
        </div>
    </div>
</div>